<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Advanced</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Send merchant receipts</string>
			<key>Key</key>
			<string>merchantEmailToggle</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>merchantEmailUser</string>
			<key>Title</key>
			<string>E-mail</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>merchantEmailPassword</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>smtp.google.com</string>
			<key>Key</key>
			<string>merchantEmailHost</string>
			<key>Title</key>
			<string>Host</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>587</string>
			<key>Key</key>
			<string>merchantEmailPort</string>
			<key>Title</key>
			<string>Port</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>SSL</string>
				<string>TLS</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>SSL</string>
				<string>TLS</string>
			</array>
			<key>Title</key>
			<string>Protocol</string>
			<key>Key</key>
			<string>merchantEmailProtocol</string>
			<key>DefaultValue</key>
			<string>TLS</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ACTION_TEST_MERCHANT_EMAIL</string>
			<key>Title</key>
			<string>Send test e-mail</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
	</array>
</dict>
</plist>
