<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webpage</key>
	<string>http://www.handpoint.com</string>
	<key>email</key>
	<string>support@handpoint.com</string>
	<key>phonenumber</key>
	<string>5103300</string>
	<key>SelectedCurrency</key>
	<string>GBP</string>
	<key>merchantName</key>
	<string>Merchant name</string>
	<key>merchantAddress</key>
	<string></string>
	<key>Currencies</key>
	<dict>
		<key>Icelandic krona</key>
		<string>ISK</string>
		<key>US Dollars</key>
		<string>USD</string>
		<key>British Pound</key>
		<string>GBP</string>
		<key>Euros</key>
		<string>EUR</string>
	</dict>
</dict>
</plist>
